<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <header>
        <h1 class="header-title">Internet Programming Study</h1>
    </header>
    <nav>
        <a href="/"><button class="nav-button nav-button__selected">메인페이지</button></a>
        <a href="/login"><button class="nav-button ">로그인</button></a>
        <a href="/signup"><button class="nav-button">회원가입</button></a>            
    </nav>
    <hr />
    <main>
        <div class="main-title"">상품 목록</div>
        <hr />
        <div class="search-wrapper">
            <label for="category-select">카테고리</label>
            <select id="category-select">
                <option value="all">All</option>
                <option value="frog">Frog</option>
                <option value="puppy">Puppy</option>
                <option value="starfish">Starfish</option>
            </select>
            <form class="search-form">
                <input class="search-input" name="keyword" value="<%= keyword %>" />
                <input type="submit" value="검색">
            </form>
        </div>
        <hr />
        <div class="item-wrapper">
            <% items.forEach(item=>{ %>
                <div class="item">
                    <a href="/product/<%= item.product_id %>">
                        <img class="item-image" src="<%= item.product_image %>" />
                        <div class="item-desc"><%= item.product_category %></div>
                        <div class="item-name"><%= item.product_title %></div>
                    </a>
                </div>
            <% }) %>
        </div>
        <hr />
    </main>
</body>
<script src="/index.js" type="text/javascript"></script>
</html>